*#footer {
  background: none;
  padding: 3px 0;
  color: #ccc;
  position:fixed;
  right: 30px;
   left:0px;
   bottom:0px;
  
  .copyright {
    text-align: center;
  }
  
  .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #ccc;

  }

}